
<h1>Welcome to the Vet</h1>
<!-- 
    <app-show-pet [thispet]="testpet"></app-show-pet>
    <app-show-pet [thispet]="testpet2"></app-show-pet>
-->

<div *ngFor="let nextpet of allpets">
    <app-show-pet [thispet]="nextpet" (remove)="removeThePet($event)"></app-show-pet>
</div>
<div>
    <h2>Add new pet</h2>
    Name: <input [(ngModel)]="addPetName" type ="text" /><br/>
    Species: <input [(ngModel)]="addPetSpecies" type ="text" /><br/>
    Age: <input [(ngModel)]="addPetAge" type ="number" /><br/>
    <button (click)="addPet()">Add Pet</button>
</div>
<button (click)="removePet()">Remove Pet</button>

<h2>Debug Stuff</h2>
<button (click)="printAllPets()">Print All Pets</button>
